/* Tree Page Layout */
.tree-page-container {
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.tree-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
  background-color: white;
  border-bottom: 2px solid #e0e0e0;
}

.tree-page-header h1 {
  font-size: 24px;
  color: #34c759;
}
.tree-page-header img {
  height: 7vh; 
  width: 8vw; 
  object-fit: cover; 
  padding-bottom: 6px;

}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px; }

.user-info span {
  font-size: 18px;
  color: #333;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.icon-button:hover {
  color: #34c759;
}

.tree-action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.tree-info {
  font-size: 16px;
  color: #333;
}

.tree-search {
  display: flex;
}


.add-individual-button {
  background-color: #e0e0e0;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.add-individual-button:hover {
  background-color: #34c759;
  color: white;
}

.add-individual-icon {
  font-size: 48px;
  font-weight: bold;
}

.add-individual-text {
  margin-top: 10px;
  font-size: 16px;
}


.search-input {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.search-input::placeholder {
  color: #aaa;
}

.tree-view-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.add-individual {
  margin-top: 40px;
}

.add-individual-button {
  background-color: #e0e0e0;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.add-individual-button:hover {
  background-color: #34c759;
  color: white;
}

.add-individual-icon {
  font-size: 48px;
  font-weight: bold;
}

.add-individual-text {
  margin-top: 10px;
  font-size: 16px;
}
